NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;
NET "CLK"  LOC = "K14" | IOSTANDARD = LVCMOS33 ;

NET "pb<0>"  LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<2>"  LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<3>"  LOC = "D14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<4>"  LOC = "E13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<5>"  LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<6>"  LOC = "F16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "pb<7>"  LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

NET "pc<0>"  LOC = "G12" | IOSTANDARD = LVCMOS33 ;
NET "pc<1>"  LOC = "G11" | IOSTANDARD = LVCMOS33 ;
NET "pc<2>"  LOC = "H15" | IOSTANDARD = LVCMOS33 ;
NET "pc<3>"  LOC = "M14" | IOSTANDARD = LVCMOS33 ;
NET "pc<4>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
NET "pc<5>"  LOC = "H14" | IOSTANDARD = LVCMOS33 ;
NET "pc<6>"  LOC = "H11" | IOSTANDARD = LVCMOS33 ;
NET "pc<7>"  LOC = "H13" | IOSTANDARD = LVCMOS33 ;

# pd 1, 2, 3, 4, 5, 6, 7
NET "set_atr"  LOC = "N12" | IOSTANDARD = LVCMOS33 ;
NET "get_baud" LOC = "P12" | IOSTANDARD = LVCMOS33 ;
NET "usb_rst"  LOC = "N5"  | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "usb_clk"  LOC = "P5"  | IOSTANDARD = LVCMOS33 | FAST ;
NET "usb_snd"  LOC = "L8"  | IOSTANDARD = LVCMOS33 ;
NET "fpga_clk" LOC = "L7"  | IOSTANDARD = LVCMOS33 | DRIVE = 12 | FAST ;
NET "fpga_snd" LOC = "R5"  | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

NET "sc_clk"    LOC = "R7" | IOSTANDARD = LVCMOS33 ;
NET "sc_rst"    LOC = "T6" | IOSTANDARD = LVCMOS33 ;
NET "sc_io"     LOC = "T4" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "sc_rst"   LOC = P112 | IOSTANDARD = LVTTL ;
#NET "sc_mirror" LOC = P100 | IOSTANDARD = LVCMOS33 ;


